<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Christiane R. Dias">
    <meta name="description" content="Projeto web final com o objetivo de utilizar 
    os conhecimentos em HTML, CSS e Javascript para celebrar a importancia das mulheres na ciencia. 
    A cientista representada no site é a Katherine Johnson, inventora dos cálculos que possibilitaram a cheagda de passoas a lua. ">

    <link rel="shortcut icon" type="imagem.svg" href="assets\icons\iconmonstr-rocket-12.svg" >
   
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
    <link href="assets\styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,400i,500,600,700,800,900&amp;display=swap" rel="stylesheet">


    <title>Katherine Johnson | A cientista que levou o homem a lua</title>
</head>
<body>
    <header class="header">
        <nav class="menu">
            <ul>
                <li><a href="#curiosidades">Curiosidades</a></li>
                <li><a href="#frases">Frases</a></li>
              </ul>
        </nav>    
    </header>
  <main id="main">
 <section class="container">
    <h1 class="titulo">Katherine Johnson</h1>
    <div>
    <img class="imagem_perfil" src="assets\imagem\Kath_Johnson.jpg" alt="Retrato desenhado da Katherine Johnson">
    </div>
<article class="texto">
    <h2 class="titulo">Sua história ultrapassou os céus...</h2>
    <p>
        Katherine Coleman Goble Johnson teve como o seu local de nascimento na Virgínia Ocidental em 1918. Muher negra na decada de superou inúmeras barreiras até se atingir seus objetivos. Em . 
        Graças a ela tudo o que descobrimos com a exploração espacial como internet, evolução computacional e até mesmo o GPS deve-se 
        em parte a essa grande cientista.<a class="link" href="https://revistagalileu.globo.com/Ciencia/noticia/2021/02/katherine-johnson-conheca-historia-da-matematica-da-nasa-em-6-imagens.html"
target="_blank">Revista Galileu.</a></p>
        <p id="text"></p>
</article>
</section>

<div class="bloco">
        <img class="imagem" src="assets\imagem\Katherine_J.jpg" alt="Foto da Katherine Johnson em seu trabalho como matematica">
        <img class="imagem" src="assets\imagem\nasa-yZygONrUBe8-unsplash.jpg" alt="Imagem de um satelite artificial e da lua vista do espaço">
        <img class="imagem" src="assets\imagem\katherine-johnson-a-matematica.jpg" alt="Foto recente da Katherine Johnson em frente a um 
        instituto com seu nome">
    
</div>
<div class="video1">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/E4j_LpKzcZQ" 
    title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen></iframe>
</div>
<section id="curiosidades">
    <div class="texto">
    <h2 class="titulo">Outros fatos</h2>
    <p>Mais fatos </p>
</div>
</section>

<div class="texto">
    <img class="imagem_perfil" src="assets\imagem\1.jpg" alt="Foto preto e branco Katherine Johnson">
    <aside class="texto_curiosidades">
        <p>No destaque da ciência e da tecnologia há sempre inúmeras figuras masculinas, sobre tudo de pessoas brancos homenageadas pela história. 
            Isto escancara a falta de representividade de outros generos e etnias no mundo cientifico mostrando a sua relevancia.
            Por isso quando leio a história uma cientista negra nos anos Estados Unidados na decada de 50, 
            revolucinando o mundo através da matemática não apenas me trás alegria por ter inspirações e referencias passadas, 
            mas também uma chama para alcançar os caminhos que são frequentemente oferecidos somente para garotos.</p>
        <p> Precisamos que as mulheres possam se inspirar e batalhar por esses espaços pois nunca nos retiramos de lá, mas sim nos expulsaram deles.
            Como foi feito por diversas mentes brilhantes femininas apagadas de verem os seus próprios esforços e conquistas da história, exemplos não: 
            Ada Lovalace, Grace Hopper e a própria Katherine. 
            E para isso devemos juntar os esforços tecnologicos com a luta feminina e mostrar que toda mulher carrega com sigo a vontade da Katherine.</p>
    </aside>
</div>

<div class="video2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DiGVt8OZox8" title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen></iframe>
    <article id="frases">
        <h2 class="titulo">As citações mais iconicas de Katherine Johnson</h2>
        <div class="citacoes">
        <ul>
            <li>“Em matemática, você está certo ou errado.”</li>
            <li>"Precisávamos ser assertivas como mulheres naquela época - assertivas e agressivas - e 
                o grau em que tínhamos que ser assim dependia de onde você estava."</li>
            <li> "As mulheres fizeram o que lhes foi dito para fazer. Eles não fizeram perguntas ou levaram a tarefa adiante. Eu fiz perguntas; Eu queria saber por quê.
                 Eles se acostumaram a me fazer perguntas e ser a única mulher lá. ”</li>
            <li>"Eles apenas disseram: 'Se ela disser que está certo, está certo' porque os caras não fizeram o trabalho. Eu fiz isso."</li>
            <li>"Eu gosto de aprender. Isso é uma arte e uma ciência. "</li>
            <li>"Se você atacar o problema da maneira certa, obterá a resposta."</li>
            <li>“Todos estavam preocupados com eles chegando lá. Estávamos preocupados com a volta deles. " - Katherine Johnson na missão Apollo 13 em entrevista, 2010. </li>
            <li>"Nossos professores fizeram uma diferença tão grande - todos os meus professores e professores me apoiaram e foram muito atenciosos."</li>
            <li> “Eu sempre estava perto de pessoas que estavam aprendendo alguma coisa. Gostava de aprender. "</li>
            <li>"Tudo é física e matemática."</li>
        </ul>
    </div>
    </article>
<div>
    <img class="imagem_foquete" src="assets\imagem\undraw_To_the_stars_re_wq2x.jpeg" alt="Desenho de um foquete">
</div>
</div>
  </main>

    <footer class="footer">
        
<span>
    <img clase="icone icone--texo"  alt="icone foguete" src="assets\icons\iconmonstr-rocket-12.svg">
</span>

    </footer>
    <script src="script.js"></script>
</body>
</html>
